{% extends 'base/base.html' %}

{% block content %}
	<div class="row">
		<div class="col">
			<!-- TABLIGH balaye-khabar-e-aval-dar-safhe-ye-aval=(top  &  category & important & latest & search & viewed) -->
			<!-- TABLIGH news-top -->
			<div id="sabavision_zone_10065-Z943_plate"></div>
		</div>
	</div>
	<br>

	{% include 'main/list.html' %}

	<script>
		route = "/paginator/latest";
	</script>
{% endblock %}

{% block meta_description %}
پوشش لحظه ای تمامی خبرها از تمام منابع خبری مهم | آخرین اخبار
{% endblock %}