{% load static %}

<div class="row" style="margin: 1%;">
    <div class="col">
        <div class="farsi"
            style="width: 100%; padding: 3%; background-color: crimson; border-radius: 5px; color: #fff;">
            <br>
            <h1 class="text-center">
                پوشش لحظه ای تمامی خبرها از تمام منابع خبری مهم
            </h1>

            <hr>

            <h1 class="text-center">
                یکجا نیوز ~ Yekja NEWS
            </h1>

            <br>

            <center>
                <img src="{% static 'logo.png' %}">
            </center>
        </div>
    </div>
</div>