{% load static %}

<br>
<div class="container">
    <div class="row">
        <div class="col">
            <!-- YEKTANET ghable-footer -->
            <div id="pos-article-display-26991"></div>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col">
            <!-- MEDIAAD -->
            <div id='mediaad-LrnR'></div>
        </div>
        <div class="col">
            <!-- MEDIAAD -->
            <div id='mediaad-uLMa'></div>
        </div>
    </div>
    <br>
</div>

<div class="row" style="margin: 1%;">
    <div class="col">
        <div class="farsi"
            style="width: 100%; padding: 3%; background-color: crimson; border-radius: 5px; color: #fff;">
            <h1 class="text-center">
                پوشش لحظه ای تمامی خبرها از تمام منابع خبری مهم
            </h1>

            <br>
            <br>

            <center>
                <a class="btn btn-light btn-lg" href="http://t.me/yekjanews" target="_blank">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Telegram_logo.svg/512px-Telegram_logo.svg.png"
                        width="32px" style="margin-left: 1em;">
                    <h5 style="display: inline;">کانال تلگرام</h5>
                </a>
            </center>

            <br>
            <br>
            <hr>

            <h1 class="text-center">
                یکجا نیوز ~ Yekja NEWS
            </h1>

            <br>

            <center>
                <img src="{% static 'logo.png' %}">
            </center>
        </div>
    </div>
</div>