<div class="row">
    <div class="col">
        <!-- YEKTANET ghable-card-ha -->
        <div id="pos-article-display-27005"></div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-6 col-xs-12 col-sm-12">
        {% include 'side/economic.html' %}
    </div>
    <div class="col-md-6 col-xs-12 col-sm-12">
        <br class="d-md-none">
        <br class="d-md-none">
        {% include 'side/top10.html' %}
    </div>
</div>

<br>

<div class="row">
    <div class="col">
        <!-- TABLIGH card-2 -->
        <div id="sabavision_zone_10068-Z565_plate"></div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-6 col-xs-12 col-sm-12">
        {% include 'side/ligue.html' %}
    </div>
    <div class="col-md-6 col-xs-12 col-sm-12">
        <br class="d-md-none">
        {% include 'side/latest.html' %}
    </div>
</div>

<br>

<div class="row">
    <div class="col">
        <!-- YEKTANET bade-4-card -->
        <div id="pos-article-display-26993"></div>
    </div>
</div>
<br>

<div class="row">
    <div class="col-md-6 col-xs-12 col-sm-12 farsi">
        <br class="d-md-none">
        {% include 'side/viewed.html' %}
    </div>
    <div class="col-md-6 col-xs-12 col-sm-12 farsi">
        <br class="d-md-none">
        <br class="d-md-none">
        {% include 'side/important.html' %}
    </div>
</div>

<br>